{% load static %}
<!DOCTYPE html>
<html>
<head>
	<header>{% include "mynavbar.html" %}</header>
	<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">
	<meta name="google-signin-client_id" content="1014166735400-h8vraoc0sgo9mrmn1ju6fjqgk0n02p0u.apps.googleusercontent.com">
	<link href="https://fonts.googleapis.com/css?family=Cairo|Cinzel|cighteous" rel="stylesheet">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<title>Log in</title>
</head>
<body>
	<div class="g-signin2" data-onsuccess="onSignIn"></div>

	
	<script type="text/javascript">
	
		function onSignIn(googleUser) {
		  var profile = googleUser.getBasicProfile();
		  var id_token = googleUser.getAuthResponse().id_token;
		  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
		  console.log('Name: ' + profile.getName());
		  console.log('Image URL: ' + profile.getImageUrl());
		  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
		  console.log("ID Token: " + id_token);
		  $.ajax({
		  	url:'/story9/token/',
		  	type:'GET',
		  	dataType:'json',
		  	data:{'token':id_token},
		  	success:function(result){
		  		if (result.login == 'success'){
		  			console.log('masuk ajax');
		  	}
		  	}

		  });
		

		}
		function signOut() {
		    var auth2 = gapi.auth2.getAuthInstance();
		    auth2.signOut().then(function () {
		    	$.ajax({
		    		url:'story9/clearsession/',
		    		success:function(){
		    			console.log('user keluar');
		    		}
		    });
		    });
		}
	</script>
</body>
</html>