<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" id="bootstrap">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Story8 & 9</title>
</head>
<body>
	<nav class="navbar navbar-inverse ">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{% url 'beranda' %}">Story 8</a>
				<a class="navbar-text" href="{% url 'bukurekomendasi' %}" style="color: white;">Rekomendasi Buku</a>
				<a class="navbar-text" href="{% url 'subscription' %}" style="color: white;">Subscribe</a>
				<a class="navbar-text" href="{% url 'loginpage' %}" style="color: white;">Log in</a>
			</div>
			<div class="navbar-right">
				<button class="btn btn-danger navbar-btn" id="button-normal" >Change  Normal Theme</button>
				<button class="btn btn-danger navbar-btn" id="button-red">Change Red Theme</button>
				<button class="btn btn-danger navbar-btn" id="button-green">Change Green Theme</button>
			</div>

		</div>
	</nav>
</body>
</html>