{% load static %}
<!DOCTYPE html>
<html>
<head>
	<header>{% include "mynavbar.html" %}</header>
	<style type="text/css">
		.picture-main {
		  background: url("http://www.bde.enscmu.uha.fr/wp-content/uploads/2017/07/photo-header.jpg") no-repeat 50%;
		  margin-top: -21px;
		  width: 100%;
		  height: 400px;
		}
		.cover{
		  background-size: cover;
		}

		/* Style the buttons that are used to open and close the accordion panel */
		.accordion {
		    background-color: #ffffff;
		    color: #444;
		    cursor: pointer;
		    padding: 18px;
		    width: 100%;
		    text-align: left;
		    border: none;
		    outline: none;
		    transition: 0.4s;
		}

		/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
		.active, .accordion:hover {
		    background-color: #f41111;
		}

		/* Style the accordion panel. Note: hidden by default */
		.panel {
		    padding: 0 18px;
		    background-color: white;
		    overflow: hidden;
		}
		#container-bawah{
			background-color:red;
		}
		#loader{
			display:    block;
		    position:   fixed;
		    z-index:    1000;
		    top:        0;
		    left:       0;
		    height:     100%;
		    width:      100%;
		    background: rgba( 255, 255, 255, .8 ) 
                url('https://loading.io/spinners/rolling/lg.curve-bars-loading-indicator.gif') 
                50% 50% 
                no-repeat;
		}
		#badan-konten{
			display: none;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">
</head>
<body>
<div id="loader">
</div>
<div class="container-fluid picture-main cover" id="badan-konten">
	<div class="row">
		<div class="col-md-6">
			<img class= "img-circle" src="https://scontent-sin2-2.xx.fbcdn.net/v/t1.0-9/41948624_2601840056496441_3576067586867068928_n.jpg?_nc_cat=106&_nc_ht=scontent-sin2-2.xx&oh=65ff244c0d2eaa93d94f34691a450d79&oe=5C3EA650" style="width:38vh;height:35vh;margin-top: 50px;">
		</div>
		<div class="col-md-6" id="accordionku">
			<button class="accordion">Organisasi</button>
			<div class="panel">
			  <ol>
		      	<li>BPH OSIS SMAN Modal Bangsa 2016</li>
		      	<li>Staff Kreartore 2017</li>
		      	<li>Wakil Ketua Computer Science Sineas 2018</li>
		      </ol>
			</div>

			<button class="accordion">Kepanitiaan</button>
			<div class="panel">
			  <ol>
		      	<li>Staff Mentor Betis 2018</li>
		      	<li>Staff Mentor PMB 2018</li>
		      	<li>Staff Artistic Videography UIFF 2018</li>
		      	<li>BPH PHD SSG UI 2019</li>
		      </ol>
			</div>

			<button class="accordion">Pengalaman Seni</button>
			<div class="panel">
			  <ol>
		      	<li>Pemeran Utama Pementasan Teater Mosa di Flash 2016</li>
		      	<li>Pemeran Utama Pementasan Teater Biru Merah di UIAW 2017</li>
		      	<li>Pemeran Pendukung Pementasan Teater Pandora di GIK 2018</li>
		      	<li>Pemeran Cameo Pementasan TGB 2018</li>
		      	<li>Sutradara Pementasan Teater Biru Merah di UIAW 2018</li>
		      	<li>Sutradara Film Pendek Aku Bukan Teroris 2016</li>
		      	<li>Sutradara Film Pendek Deadline 2016</li>
		      	<li>Sutradara Film Pendek Mimpi 2017</li>
		      	<li>Asisten Sutradara Film Pendek Dinding 2017</li>
		      	<li>Pemeran Pendukung Film Pendek OPSI 2018 </li>
		     
		      </ol>
			</div>
		</div>
	</div>
</div>
	
<script type="text/javascript" src="{% static 'jquery1.js' %}">
	</script>



</body>
</html>